<!DOCTYPE html>
<html ng-app="AppPlanoDeVoo">
<head>
    <meta charset="utf-8" />
    <title>Teste - Saipher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <link rel="stylesheet" href="app/css/app.css">
    <link rel="stylesheet" href="app/toaster/toaster.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.10/md-data-table.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular-messages.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js"></script>
    <script src="https://cdn.gitcdn.link/cdn/angular/bower-material/v1.1.8/angular-material.js"></script>
   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
       
    <script src="app/js/angular-locale_pt-br.js"></script>
        
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.10.10/md-data-table.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    

</head>
<body>
  <toaster-container toaster-options="{'time-out': 3000}"></toaster-container>
    
  <div flex layout="row" ng-controller="AppController">
      <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-z2" md-component-id="left">
        <md-toolbar class="md-theme-light">
          <h1 class="md-toolbar-tools">Teste Saipher</h1>
        </md-toolbar>
        <md-list>
          <md-list-item ng-click="navigateTo('/','PlanoDeVoo')">
            <p>Planos de Vôo</p>
          </md-list-item>
        </md-list>
      </md-sidenav>

      <md-content flex id="content">
        <md-toolbar layout="row">
          <md-button hide-gt-sm class="menu" ng-click="toggleSidenav('left')" aria-label="Show User List">
            <md-icon md-svg-icon="menu"></md-icon>
          </md-button>
          <h3 class="md-toolbar-tools">{{pageTitle}}</h3>
        </md-toolbar>
        <div ng-view ng-cloak></div>
      </md-content>

  </div>

</body>

    <script src="app/js/app.js"></script>
    
    <!-- modules application -->
    <script src="app/menu/menuDirective.js"></script>
    <script src="app/search/searchDirective.js"></script>
    <script src="app/toaster/toaster.js"></script>

    <!-- modules specifieds -->
    <script src="app/js/controllers/planoDeVooCtrl.js"></script>
    <script src="app/js/services/planoDeVooService.js"></script>
    
    <script src="app/js/services/AeroportoService.js"></script>
    <script src="app/js/services/TipoAeronoveService.js"></script>
    
</html>