<md-dialog aria-label="Cadastro de Plano de Vôo" >
    <form name="myForm" ng-submit="SalvarPlanoDeVoo()">
        <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{tituloDialog}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="CloseDialog();">
            <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Fechar cadastro"></md-icon>
            </md-button>
        </div>
        </md-toolbar>
    
        <md-dialog-content>
            <div class="md-dialog-content">
                
                <div flex="100" class="flex flex-col">
                    <md-input-container class="md-block">
                        <label>Número Vôo</label>
                        <input ng-model="frmPlanoDeVoo.numeroVoo" maxlength="50" required placeholder="Digite o Número do Vôo">
                    </md-input-container>
                </div>

                <div flex="100" class="flex flex-col">
                    <md-input-container class="md-block">
                        <label>Data e hora do Vôo</label>
                        <input ng-model="frmPlanoDeVoo.dataHoraVoo" required type="datetime-local"
                        min="2001-01-01T00:00:00" max="2022-12-31T00:00:00" >
                    </md-input-container>
                </div>
                
                <div flex="100" class="flex flex-col">
                    <md-input-container class="md-block">
                        <label>Origem</label>
                        <md-select ng-model="frmPlanoDeVoo.origemId" required>
                        <md-option-empty><em>Selecione</em></md-option-empty>
                        <md-option ng-repeat="aeroporto in listaAeroporto" ng-value="aeroporto.id">
                            {{aeroporto.sigla}}
                        </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div flex="100" class="flex flex-col">
                    <md-input-container class="md-block">
                        <label>Destino</label>
                        <md-select ng-model="frmPlanoDeVoo.destinoId" required>
                        <md-option-empty><em>Selecione</em></md-option-empty>
                        <md-option ng-repeat="aeroporto in listaAeroporto"  ng-value="aeroporto.id">
                            {{aeroporto.sigla}}
                        </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div flex="100" class="flex flex-col">
                    <md-input-container class="md-block">
                        <label>Tipo da Aeronave</label>
                        <md-select ng-model="frmPlanoDeVoo.tipoAeronaveId" required>
                        <md-option-empty><em>Selecione</em></md-option-empty>
                        <md-option ng-repeat="tipoAeronave in listaTipoAeronave" ng-value="tipoAeronave.id">
                            {{tipoAeronave.nome}}
                        </md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div flex="100" class="flex flex-col">
                    <md-input-container class="md-block">
                        <label>Matrícula Aeronave</label>
                        <input ng-model="frmPlanoDeVoo.matriculaAeronave" maxlength="50" required placeholder="Digite a matrícula">
                    </md-input-container>
                </div>

            </div>
        </md-dialog-content>
        
        <md-dialog-actions layout="row">
            
            <span flex></span>
            <md-button type="submit" ng-disabled="myForm.$invalid">
                Salvar
            </md-button>
            <md-button ng-click="CloseDialog();">
                Cancelar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>