<md-table-container>
    <table data-md-table data-md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" data-ng-model="selected">
        <thead md-head md-order="myOrder">
            <tr>
                <th md-column>Número do Vôo</th>
                <th md-column>Origem</th>
                <th md-column>Destino</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-select="planoDeVoo" md-select-id="nome" data-md-on-select="log" md-on-deselect="deselect" x-md-auto-select="options.autoSelect"
                data-ng-repeat="planoDeVoo in listaPlanoDeVoo |  filter: filter.search">
                <td md-cell>{{planoDeVoo.numeroVoo}}</td>
                <td md-cell>{{planoDeVoo.origem.Sigla}}</td>
                <td md-cell>{{planoDeVoo.destino.Sigla}}</td>
            </tr>
        </tbody>
    </table>
</md-table-container>